@import url('https://fonts.googleapis.com/css?family=Sarabun');


body {
    position: relative; 
    height: 100vh;
    font-family: 'Sarabun', sans-serif;
}

/* Avatar */
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Class for every section */
.section {
	min-height:100%;
	max-width:70%;
	padding-top:100px;
}

/* Class for home section */
#home {
	height:100%;
	background-image: url("cover.jpg");
	background-size:cover;
	text-align:center;
	padding-top:100px;
}